<a #logoContainer class="logo-container" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <svg viewBox="0 0 133 100" height="60" [ngClass]="{'logo-animated-home': animateHome}">
    <!-- \... -->
    <path id="line1" d="M10,10 L38.25,90" stroke="#f0f"/>
    <!-- .../ -->
    <path id="line4" d="M123,10 L94.75,90" stroke="#f0f" />
    <!-- ./.. -->
    <path id="line2" d="M66.5,10 L38.25,90" [attr.stroke]="logoColor" />
    <!-- ..\. -->
    <path id="line3" d="M66.5,10 L94.75,90" [attr.stroke]="logoColor" />
    <!-- <rect x="0" y="0" width="100%" height="100%" fill="rgba(0, 0, 0, 0.2)" /> -->
  </svg>
</a>
