<app-logo #appLogo [animateHome]="true" logoColor="#f0f"></app-logo>
<mat-nav-list>
  <app-nav-item title="Projects" router="dev"></app-nav-item>
  <app-nav-item title="Notes" router="notes" [children]="[
  {
    title: 'Calculus',
    router: 'calc'
  }, {
    title:'Linear Algebra',
    router: 'linear' 
  }, {
    title: 'Comp 251',
    router: 'comp251'
  }, {
    title: 'Comp 273',
    router: 'comp273'
  }, {
    title: 'Comp 302',
    router: 'comp302'
  }, {
    title: 'Comp 303',
    router: 'comp303'
  }, {
    title: 'Comp 310',
    router: 'comp310'
  }, {
    title: 'Comp 330',
    router: 'comp330'
  }, {
    title: 'Comp 360',
    router: 'comp360'
  }, {
    title: 'Comp 361',
    router: 'comp361'
  }, {
    title: 'Comp 409',
    router: 'comp409'
  }, {
    title: 'Comp 520',
    router: 'comp520'
  }, {
    title: 'Comp 529',
    router: 'comp529'
  }, {
    title: 'Comp 550',
    router: 'comp550'
  }, {
    title: 'Comp 551',
    router: 'comp551'
  }, {
    title: 'Comp 558',
    router: 'comp558'
  }
  ]"></app-nav-item>
  <app-nav-item title="Coding Notes"></app-nav-item>
</mat-nav-list>
